
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    padding: 28px;
}
.container .nav{
    width: 88%;
    height: 58px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    margin-bottom: -18px;

}
.logo{
    color: #990033;
    width: 188px;
    font-size: 28px;
    font-weight: bold;
    float: left;
    display: inline-block
 }
.nav input{
    width: 68%;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing:3px;
    float: right;
    background: #383838;
    border-width: 0;
    padding: 6px 0 3px 18px;
    display: inline-block
}
.nav input:focus{
    background: #333333;
    color: #FFFFFF;
    font-weight: normal;
    letter-spacing:3px
}
#search_list{
    width: 88%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    text-align: center
}
.search-a-select{
    height: 38px;
    width: 258px;
    color: #336666;
    display: inline-block
}
.search-a-selected{
    height: 38px;
    width: 258px;
    color: #990033;
    display: inline-block
}

